body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(136, 135, 135);
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #2a9d8f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #21867a;
}

img {
    height: 150px;
    margin-top: 20px;
}
